<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>About</h1>
    <p>This is the about page.</p>

    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <!-- TODO 2: Adaugati continut html. Ce informatii ar trebui sa contina sectiunea de about? -->
</body>

</html>