<!DOCTYPE html>
<html>

<head>
    <title>Peppin Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to the Pepin Blog</h1>
    <p>This is the home page.</p>

    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <!-- TODO 3: Adaugati continut html -->
</body>

</html>